Package: LGT_PACKAGE_NAME
Maintainer: LGT_MAINTAINER
Version: LGT_VERSION
Architecture: LGT_ARCH
Installed-Size: LGT_INSTALLED_SIZE
Depends: libc6 (>= 2.7-1), LGT_LUA
Section: math
Priority: optional
Description: Numerical algorithms for Lua based on the GSL Library
 LGSL is a collection of numerical algorithms and functions for Lua, based on the GNU Scientific Library (GSL). It allows matrix/vector manipulation and linear algebra operations.
 .
 LGSL is not just a wrapper over the C API of GSL but offers a much more simple and expressive way to use GSL. The objective of LGSL is to give the user the power to easily access GSL functions without having to write a complete C application.
 .
 LGSL is based on the numerical modules of GSL Shell.
